<?xml version="1.0"?>

<model>
  <name>kitt_md25_o1 </name>
  <version>1.0</version>
  <sdf version="1.9">kitt_md25_o1.sdf</sdf>

  <author>
    <name>Diego Cubillo</name>
    <email>dcubillo@comillas.edu</email>
  </author>

  <description>
	Wheeled vehicle with plugin emulating motor driver MD25.
  </description>
</model>
