<?xml version="1.0"?>

<model>
  <name>{{ model_name }}</name>
  <version>1.0</version>
  <sdf version="1.9">{{ model_name }}.sdf</sdf>

  <author>
    <name>Diego Cubillo</name>
    <email>dcubillo@comillas.edu</email>
  </author>

  <description>
	Wheeled vehicle with differential drive plugin.
  Includes two cameras for VR view.
  </description>
</model>
