<?xml version="1.0"?>

<model>
  <name>kitt_dd</name>
  <version>1.0</version>
  <sdf version="1.9">kitt_dd.sdf</sdf>

  <author>
    <name>Diego Cubillo</name>
    <email>dcubillo@comillas.edu</email>
  </author>

  <description>
	Wheeled vehicle with differential drive plugin.
  </description>
</model>
