<?xml version="1.0"?>

<model>
  <name>kitt_nav_md25_o3</name>
  <version>1.0</version>
  <sdf version="1.9">kitt_nav_md25_o3.sdf</sdf>

  <author>
    <name>Diego Cubillo</name>
    <email>dcubillo@comillas.edu</email>
  </author>

  <description>
	Wheeled vehicle with plugin emulating motor driver MD25 and a set of sensors.
  </description>
</model>
